# Core requirements
django>=1.4.12,<1.5
south==0.8.2
python-memcached==1.48
coverage
rq>=0.3.8
django-rq>=0.5.1

# Database Drivers, the Python stdlib has support for SQLite
psycopg2==2.4.4

# Harvest stack
avocado>=2.3.3,<3.0
modeltree>=1.1.7
django-objectset>=0.2.2

# State Transition System
django-sts==0.7.3

# Permissions
django-guardian==1.0.4

# VCF loading
pyvcf>=0.6.5

# Model versioning -- use 1.6.6 because that is compatible with django 1.4.5
#       See compatibility here: https://github.com/etianen/django-reversion/wiki/Compatible-Django-Versions
django-reversion==1.6.6

# Required for patch generation in reversion
diff-match-patch
